<div class="header">
    <a href="{{ routes.root_url }}" aria-current="page" class="homelink w-inline-block w--current"><img src="{{ 'su-typemark_transparent0.5x.png' | asset_url }}" loading="lazy" width="257" sizes="(max-width: 514px) 100vw, 514px" alt="" srcset="{{ 'su-typemark_transparent0.5x-p-500.png' | asset_url }} 500w, {{ 'su-typemark_transparent0.5x.png' | asset_url }} 514w" class="image"></a>
    <div class="signinout">
      <a href="#pricing" class="link-block-5 w-inline-block">
        <div class="button forheader">
          <div class="subheading1 white">{{ 'tn4fcaa520' | t }}</div>
        </div>
      </a>
    </div>
  </div>