{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "667440f9a0222a59828d6d9d" -%}{%- assign bodyClasses = "" -%}
  <div class="zoomgrid">
    <div id="w-node-_71059231-b2b1-728c-be19-51fb77981b73-828d6d9d" class="heroblockwrap-2">
      <div class="heroblockstack-2">
        <div class="titleblock">
          <div class="w-layout-hflex text-vert-2 center home"><img src="{{ 'su-typemark_transparent2x.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 22vw, (max-width: 767px) 12vw, 13vw" srcset="{{ 'su-typemark_transparent2x-p-500.png' | asset_url }} 500w, {{ 'su-typemark_transparent2x-p-800.png' | asset_url }} 800w, {{ 'su-typemark_transparent2x-p-1080.png' | asset_url }} 1080w, {{ 'su-typemark_transparent2x-p-1600.png' | asset_url }} 1600w, {{ 'su-typemark_transparent2x-p-2000.png' | asset_url }} 2000w, {{ 'su-typemark_transparent2x.png' | asset_url }} 2054w" alt="" class="sprouht-u-typemark">
            <h1 data-w-id="71059231-b2b1-728c-be19-51fb77981b77" class="heading1-2 home"><strong>{{ 't50519706' | t }}</strong><br></h1>
            <div data-w-id="8fbb7568-f88b-bae0-8132-46aa8747660c" class="div-block-5">
              <div class="subheading1 subhead-home-page"><strong>{{ 't6e036bf5' | t }}</strong><br></div>
            </div>
          </div>
        </div>
        <div class="vslwrapper-2">
          <div data-w-id="71059231-b2b1-728c-be19-51fb77981b7d" style="padding-top:56.27659574468085%" class="video-5 w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F978013240%3Fapp_id%3D122963&amp;dntp=1&amp;display_name=Vimeo&amp;url=https%3A%2F%2Fvimeo.com%2F978013240%3Fshare%3Dcopy&amp;image=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1892858178-f60b25539c755f7809a522ae1009c4e6b1dc107100fe54cab82178d34c1d6083-d_1280&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=vimeo" width="940" height="529" scrolling="no" allowfullscreen="" title="Tutorial V4"></iframe></div>
        </div>
        <a href="https://sprouhtu.com/#pricing" target="_blank" class="button-3 filler vsl w-button"><strong>{{ 'tn64539289' | t }}</strong></a>
        <p class="sub-button-text">{{ 'tn78d95c40' | t }}</p>
      </div>
    </div>
    <div id="w-node-_71059231-b2b1-728c-be19-51fb77981b84-828d6d9d" class="cropper-2"><img id="w-node-_71059231-b2b1-728c-be19-51fb77981b85-828d6d9d" sizes="(max-width: 1920px) 100vw, 1920px" alt="" src="{{ 'herobackgroundzoom.png' | asset_url }}" loading="lazy" srcset="{{ 'herobackgroundzoom-p-500.png' | asset_url }} 500w, {{ 'herobackgroundzoom-p-800.png' | asset_url }} 800w, {{ 'herobackgroundzoom-p-1080.png' | asset_url }} 1080w, {{ 'herobackgroundzoom-p-1600.png' | asset_url }} 1600w, {{ 'herobackgroundzoom.png' | asset_url }} 1920w" class="backgroundimage lightblur"></div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=665ab0eb095a22df26e66257" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <script async="" type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=WWdTnL"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}